<section class="sim">
    <h1>    Projetos</h1>
    <section class="grid grid-template-columns-1">
      <div class="item">
        <img src="/assets/img/download.jpg">
        <h3>Novo Meta Brawl Stars</h3>
        <p>Melhores brawlers na temporada atual</p>
      </div>
      <div class="item">
        <img src="/assets/img/campeonato.jpg">
        <h3>Campeonato de Brawl Stars</h3>
        <p>Chaves do Campeonato de Brawl Stars</p>
      </div>
      <div class="item">
        <img src="/assets/img/iceberg.jpg">
        <h3>Iceberg do Brawl Stars</h3>
        <p>Teorias, conspirações, lore, etc...</p>
      </div>
      <div class="item">
        <img src="/assets/img/ranked.jpg">
        <h3>Ranqueado do Brawl Stars</h3>
        <p>Mapas, melhores compys, melhores bans</p>
      </div>
      <div class="item">
        <img src="/assets/img/starpower.jpg">
        <h3>Poderes de Estrela</h3>
        <p>Melhores Poderes de Estrela para cada brawler</p>
      </div>
      <div class="item">
        <img src="/assets/img/gadget.png">
        <h3>Acessorios</h3>
        <p>Melhores acessorios para cada brawler</p>
      </div>
      <div class="item">
        <img src="/assets/img/skins.jpg">
        <h3>Skins</h3>
        <p>Melhores skisn do Brawl Stars</p>
      </div>
      <div class="item" (click)="abreProjeto('piadas')">
        <h3>API de Piadas</h3>
        <p>API de piadas e google tradutor</p>
      </div>
    </section>
 
</section>  
