<section class="fundo">
    <article>
        <h1>sobre mim</h1>
        <p>
            Sou Pedro Henrique, estudante do Raulino Horn no 1°4,
             faço curso pelo Senai de lógica de progrmação,
              gosto do São Paulo e de jogar futebol,
               minha comida favorita é macarrão com carne moida.
               também gosto muito do calleri e do Wellington Rato e da minha mulher 
  
            
        
        </p>
        <p>
            Sou o Fabrício Reck, estudante do Raulino Horn na sala 1°4,
             faço curso do Senai de lógica de programação,gosto de jogar Brawl Stars,
             e também gosto de comer salame
        </p>
        <p></p>
    </article>
    <figure>
        <img src="/assets/img/brawl-stars.jpg">
    </figure>

  

</section>

